@font-face {
  font-family: "iransance";
  src: url("./iransans/IRANSans.ttf");
}

body {
  font-family: "iransance";
  padding: 0;
  text-align: right;
  margin: 0;
}
.container {
  margin: 5% auto;
  background-color: #f4f6fb;
  border-radius: 5px;
  padding-top: 1.5%;
  direction: rtl;
}
.total {
  box-shadow: 0px 0px 10px 0px rgba(225, 226, 232, 0.49);
  margin-top: 1%;
  border-radius: 10px;
  background-color: white;
}
.Item2 {
  padding: 10px 5px;
  text-align: right;
}
.new_tiket {
  line-height: 23px;
  position: relative;
  /* bottom:5px; */
  padding: 4px 5px;
}

.margin_auto {
  margin-left: auto;
  color: #36459b;
  font-weight: bold;
  font-size: 18px;
}
.tiket {
  background-color: #36459b;
  color: white;

  font-size: 14px;
  border-radius: 7px;
  align-items: center;
  padding: 5px 2px;
  padding: 8px 5px !important;
}
.Item {
  background-color: white;
  padding-bottom: 2%;
}
.title {
  font-size: 16px;
  font-weight: bold;
}
.Icon {
  margin-left: 7px;
}
.headpage {
  padding-top: 7%;
}
.flex-item {
  border-left: 1px dashed rgba(212, 220, 232, 1);
  flex-basis: 0;
  flex-grow: 1;
}
.align-self-end {
  font-size: 16px;
  display: flex;
  gap: 7px;
}

.flex-item2 {
  border-left: 1px dashed #a39d9d;
  padding: 3px 10px;
}
select-style {
  text-align: right;
}
.Allselect {
  margin-top: 20px;
}
.Input {
  width: 100%;
  border: none;
  line-height: 40px;
  outline: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  color: #8c8c8c !important;
  font-size: 14px;
}
.pwt-datepicker-input-element.calendar-icon {
  display: none;
}
.select2-dropdown {
  background-color: #f9f9f9;
  font-size: 14px;
}
.select-style select {
  width: 100% !important;
  margin-bottom: 20px;
}
.select-style select[id^="e"] {
  border: none !important;
}
.select2-container--default .select2-selection--single {
  margin-bottom: 20px !important;
}

.select-style {
  border-left: 1px solid rgba(178, 198, 227, 0.28);
  padding-right: 0px !important;
  padding-left: 1px !important;
}
.selct {
  border-left: unset;
}
.select2 select2-container select2-container--default {
  width: 50px !important;
}
.dt-search,
.dt-info {
  display: none !important;
}
label {
  display: none !important;
}
.dt-layout-cell.dt-end {
  text-align: center !important;
}
.dt-paging-button {
  padding: -0.5em 1em !important;
}
.dt-column-title {
  color: #858588 !important;
  text-align: unset !important;
}
.table.dataTable thead th {
  font-weight: unset !important;
}
select2-container .select2-selection--single {
  border: none !important;
}

table {
  width: 100% !important;
  background-color: #ffffff !important; /* رنگ سفید */
}
th {
  font-size: 12px !important;
}
.select2-selection__rendered {
  position: relative;
  top: 17px;
  font-size: 16px !important;
  color: #8c8c8c !important;
}
.select2-results__option--selectable {
  color: #636366 !important;
  font-size: 14px !important;
}
.select2-search__field {
  margin-top: 2px;
  border: 1px solid rgba(239, 239, 239, 1) !important;
}
.select2-results__option--selectable {
  margin: 2px 4px 55px 4px !important;
  border-radius: 4px;
  background-color: rgba(182, 200, 241, 0.29);
}
.select2-container--open .select2-dropdown--below {
  /* position: relative; */
  top: -13px;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}

.select2-results__option {
  padding: 12px !important;
}
.select2-search__field:focus {
  outline: none !important;
  border: 1px solid rgba(239, 239, 239, 1) !important;
}

.select2-container--open .select2-dropdown--below {
  border: none important;
  box-shadow: 0px 0px 10px 0px rgba(170, 166, 166, 0.5) !important;
}
.table {
  width: unset !important;
}
colgroup col {
  width: unset !important;
  background-color: white !important;
}
.input-with-icon {
  position: relative;
}

.input-with-icon i {
  color: #8c8c8c;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.dt-type-numeric {
  text-align: center !important;
}
.select2-container .select2-selection--single {
  height: 100% !important;
}
.cssbox {
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0px rgba(226, 236, 249, 0.76);
}
.select-style {
  position: relative;
}
.Vector-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  height: auto;
  color: rgba(140, 140, 140, 1);
  z-index: 1;
}

.svg {
  position: absolute;
  left: 10px;
  top: 32%;
}
.rotated {
  transform: rotate(180deg);
}

.select2-search__field {
  color: rgba(133, 133, 136, 1);
  background-image: url("./icon/Fill\ 187.svg");
  background-position: 0px;
  background-repeat: no-repeat;
  content: "djn";
  background-position: calc(100% - 7px) center;
  background-size: 12px;
  opacity: 0.7;
}
.select2-search--dropdown {
  padding: 7px !important;
  border-radius: 4px;
}

.secondary-table.table td,
.secondary-table.table th,
.secondary-table.table-striped > tbody tr:nth-of-type(2n) td {
  border-top: none;
  background-color: #fff !important;
}
.Input2 {
  border-radius: 7px 0px 0px 7px;
}
::placeholder {
  padding-right: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 8px !important;
  border-radius: 4px;
}

div.dt-container .dt-paging .dt-paging-button:active {
  background: unset;
  background-color: white !important;
}
.secondary-table.table td,
.secondary-table.table th,
.secondary-table.table-striped > tbody tr:nth-of-type(2n) td {
  border-top: none;
  background-color: #fff;
}

.select2-selection__arrow svg {
  transition: all 0.3s;
}
.select2-container--open .select2-selection__arrow svg {
  transform: rotate(180deg);
}
.cssbox .select-style:first-child .select2-selection--single {
  border-radius: 0px 7px 7px 0px;
}
.cssbox .select-style:last-child .select2-selection--single {
  border-radius: 7px 0px 0px 7px;
}
/* table.dataTable > tbody > tr {
  background-color: white !important;
} */
table {
  background-color: transparent !important;
}
#myTable td {
  background-color: #fff !important;
  box-shadow: none !important;
}
.select2-search--dropdown .select2-search__field {
  padding-right: 23px !important;
}
.mytable thead {
  background-color: rgba(244, 246, 251, 1);
}

@media (max-width: 992px) {
  div.dt-container select.dt-input {
    top: 10px !important;
  }
  .select-style {
    border-bottom: 1px solid rgba(178, 198, 227, 0.28);
    border-left: unset;
  }

  .cssbox .select-style:first-child .select2-selection--single {
    border-radius: 7px 7px 0px 0px;
  }
  .Input2 {
    border-radius: 0px 0px 7px 7px;
  }
  .Mytable td,
  th {
    display: block;
    width: 100%;
  }
  td::before {
    content: attr(data-label);
    float: right;

    margin-right: 0.5em;
  }
  thead tr:first-child {
    display: none !important;
  }
  tbody tr td:nth-child(1),
  tbody tr td:nth-child(2) {
    text-align: right !important;
  }
  .flex-item {
    border-left: none;
    width: calc(50% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .Item2 {
    flex-direction: column !important;

    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(170, 166, 166, 0.5);
  }
  .flex-container {
    flex-direction: row;
  }
  .total {
    background-color: unset;
  }
  .Item2 {
    background-color: white;
    border-radius: 5px;
  }
  .flex-item {
    flex-basis: unset;
    flex-grow: unset;
  }
  .title {
    font-size: 14px;
  }
  .align-self-end {
    position: relative;
    right: 40%;
    display: flex;
    gap: 4px;
  }
  .svgimage {
    padding-bottom: 0px !important;
  }
}
@media screen and (max-width: 760px) {
  #Mytable_wrapper tbody tr:first-of-type td{
    border-top: none !important;
  }
  #Mytable_wrapper tbody tr td:first-of-type{
    border-top: unset !important;
  }
  #Mytable_wrapper tbody tr td:first-of-type {
    border-right: none !important;
  }
  #Mytable_wrapper tbody tr td:last-of-type {
    border-left:none;
}
#Mytable_wrapper tbody tr td:first-of-type{
  border-top:1px solid rgba(188, 195, 237, 0.35) !important;;
}
#Mytable_wrapper tbody tr td:last-of-type {
  border-left:none !important;
  border-bottom:none !important;
}
  .Mytable td,
  th {
    display: block;
    width: 100%;
  }
  tbody tr:first-child td {
    border-bottom: 1px solid #dad0d0;
  }

  .select-style:last-child {
    margin-top: 15px !important;
  }

  .Input2 {
    border-top: 1px solid rgba(178, 198, 227, 0.28);
    margin-top: -16px;
  }
  .select2-selection__rendered {
    font-size: 12px;
    top: 10px;
  }
}
div.dt-container select.dt-input {
  color: rgba(140, 140, 140, 1);
  position: relative;
  top: 35px;
  text-align: center !important;
  padding: 0px;
  font-size: 12px;
  background-color: #fff;
  border-radius: rgba(230, 236, 246, 1) !important;
}
input:focus {
  /* outline: none !important; */
}
.dt-paging-button {
  background-color: white !important;
  color: rgba(148, 158, 218, 1) !important;
}
div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
  border: none;
  border: 1px solid rgba(148, 158, 218, 1) !important;
  background-color: #fff;
  color: rgba(148, 158, 218, 1) !important;
}
.dt-paging-button current {
  color: rgba(148, 158, 218, 1) !important;
}
div.dt-container .dt-paging .dt-paging-button.current {
  border-radius: 4px;
}
.div.dt-container .dt-paging .dt-paging-button.disabled {
  color: rgba(148, 158, 218, 1) !important;
}
tbody {
  border-radius: 4px;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover {
  color: rgba(140, 140, 140, 1) !important;
}
div.dt-container .dt-paging .dt-paging-button:active {
  background-color: transparent !important;
  border: 1px solid rgba(148, 158, 218, 1) !important;
}
div.dt-container .dt-paging .dt-paging-button:hover {
  background: transparent !important;
  border: 1px solid rgba(148, 158, 218, 1) !important;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

#Mytable_wrapper table.dataTable {
  border-collapse: separate;
  border-spacing: 0;
}
#Mytable_wrapper table.dataTable tbody tr:last-child {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
table.dataTable thead > tr > th.dt-orderable-asc:hover,
table.dataTable thead > tr > th.dt-orderable-desc:hover {
  outline: none !important;
}

#Mytable_wrapper td {
  border-color: rgba(188, 195, 237, 0.35) !important;
}
#Mytable_wrapper thead th {
  border: none;
}

#Mytable_wrapper tbody tr:first-of-type td {
  border-top: 1px solid;
}
#Mytable_wrapper tbody tr td:first-of-type {
  border-right: 1px solid;
}
#Mytable_wrapper tbody tr td:last-of-type {
  border-left: 1px solid;
}
#Mytable_wrapper tbody tr:first-of-type td:first-of-type {
  border-top-right-radius: 7px;
}

#Mytable_wrapper tbody tr:first-of-type td:last-of-type {
  border-top-left-radius: 7px;
}
#Mytable_wrapper tbody tr:last-of-type td:first-of-type {
  border-bottom-right-radius: 7px;
}

#Mytable_wrapper tbody tr:last-of-type td:last-of-type {
  border-bottom-left-radius: 7px;
}
